<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christian.pldt_hackathon">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Dr. NET"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                        android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.LAUNCHER"
                          android:screenOrientation="portrait"/>
            </intent-filter>
        </activity>
        <activity android:name=".ScanWIfi"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".Log_In"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".Network_Info"
            >android:screenOrientation="portrait"</activity>
    </application>

</manifest>